<nav class="navbar">
  <div class="logo">
    <a href="/index.html">
      <img src="/assets/img/logo-main.svg" alt="T4R" id="main-logo" width="90" />
    </a>
  </div>
    <div id="nav-bar-text">
      <h1 >T4 Rentals, Ltd</h1>
    </div>
  <button class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <ul class="nav-links" id="nav-links">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/pages/resedential.html">Residential</a></li>
    <li><a href="/pages/commercial.html">Commercial</a></li>
    <li><a href="/pages/community.html">Community</a></li>
    <li><a href="/pages/contact.html">Contact</a></li>
     <li><a href="/pages/about.html">About</a></li>
  </ul>
</nav>