<nav class="navbar">
  <div class="logo">
    <a href="index.html">
      <img src="assets/img/heart-dove2.png" alt="H.E" id="main-logo" width="90" />
    </a>
  </div>
    <div id="nav-bar-text">
      <h1 >Heart Encounters</h1>
    </div>
  <button class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <ul class="nav-links" id="nav-links">
    <li><a href="index.html">Home</a></li>
    <li><a href="pages/classes.html">Classes</a></li>
    <li><a href="pages/community.html">Community</a></li>
    <li><a href="pages/contact.html">Contact</a></li>
     <li><a href="pages/about.html">About</a></li>
  </ul>
</nav>