<div id="property-modal" class="modal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>

    <div class="property-gallery">
      <div class="gallery-inner">
        <img id="property-image" src="" alt="Property Image">
      </div>
    </div>

    <div class="property-details">
      <h2 id="property-title"></h2>
      <p id="property-price" class="strong"></p>
      <p id="property-class-detail" class="strong"></p>
      <p id="property-teacher-name" class="strong"></p>
      <p id="property-teacher-email" class="strong"></p>
      <br>
      <p id="property-location"></p>
      <p id="property-description"></p>
      <br>
      <p id="footnote" class="italic"></p>
    </div>
    <div class="cart-action-container">
      <a class="cart-link" id="add-cart-btn">Add to cart</a>
    </div>
  </div>
</div>
