.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0; top: 0;
  width: 100%; height: 100%; 
  background: rgba(0,0,0,0.6);
  overflow: auto;
}

.modal-content {
  position: relative;
  background: #fff;
  margin: 5% auto;
  /* padding: 1.5rem; */
  padding: 0.6rem;
  border-radius: 12px;
  max-width: 800px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}

.strong {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}

.cart-action-container {
  display: flex;
  justify-content: center;
  margin: 0rem 1rem 0.5rem 0px;
}

.close-btn {
  height: 2rem;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
  width: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  z-index: 8;
  position: absolute;
  top: 1rem;
  right: 2rem;  
  background-color: white;  
}

.property-gallery {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 3px solid black;

  height: 300px;
  overflow: hidden;
}

.property-gallery img {
  /* max-width: 100%;
  overflow: hidden; */
  border-radius: 8px;

  object-fit: cover;
  width: 100%;
  height: 100%;
}

.property-gallery button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  color:white;
}

#prev-img { left: 0; font-size: xx-large;}
#next-img { right: 0; font-size: xx-large; }

#image-counter {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #444;
}